.header-wrapper {
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #d3d3d3;
    padding-inline-end: 50px;
    color: #5A5A5A;
    gap: 5px;
}

.header {
    font-size: 26px;
}

.sub-header {
    font-size: 18px;

}